
html, body {
	background-color: #99ccff;
	height: 100%;
	font-size: 100%;
}

#startTrialButton {
	width: 100%;
	height: 50px;
	display: block;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -5%;
}
.push {
	height: 0%;
	margin: -5% 0 0 0;
}
.footer{
	height: 5%;
	margin: 0;
}
.footer {
	background-color: white;
	left: 0;
	width: 100%;
}

.table-responsive {
	position: absolute;
	top: 23%;
	left: 0;
	height: 77%;
	width: 100%;
	border: 1px solid #ecf0f1;
}
#galleryTable {
	width: 100%;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	
}
@media(min-width: 768px) {
	
}

@media (max-width: 767px) {
    float: left;
	h1, 
	h2, 
	h3,
	h4,
	h5,
	h6 {
		font-size: 200%;
	}
}

@media screen and (max-width: 767px) {
   .table-responsive tr {
	   
   }
	
  .table-responsive {
    width: 100%;
    margin-bottom: 15.75px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    
  }
  
}

